# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# VS Code
.vscode/

# Uploaded Files
uploads/

# Reports
reports/

# Logs
logs/

# Database Cache
instance/

# Operating System
.DS_Store
Thumbs.db