body{

margin:0;

font-family:Poppins,sans-serif;

background:#0f172a;

color:white;

}

.wrapper{

display:flex;

}

.sidebar{

width:240px;

height:100vh;

position:fixed;

background:#111827;

padding:20px;

}

.logo{

margin-bottom:40px;

color:#38bdf8;

text-align:center;

}

.sidebar a{

display:block;

padding:14px;

margin-bottom:10px;

text-decoration:none;

color:white;

border-radius:8px;

transition:.3s;

}

.sidebar a:hover{

background:#1e293b;

color:#38bdf8;

}

.content{

margin-left:240px;

width:100%;

}

.topbar{

height:70px;

background:#1e293b;

display:flex;

align-items:center;

padding-left:25px;

box-shadow:0 5px 15px rgba(0,0,0,.4);

}

.card{

background:#1e293b;

border:none;

border-radius:15px;

color:white;

}

.table{

color:white;

}

.btn-primary{

background:#2563eb;

border:none;

}

.btn-danger{

background:#ef4444;

}

.btn-success{

background:#22c55e;

}

.alert{

border-radius:12px;

}