{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow-lg">

        <div class="card-body text-center">

            <h1 class="display-4">

                Mini SIEM Dashboard

            </h1>

            <hr>

            <p class="lead">

                Security Log Monitoring & Threat Detection System

            </p>

            <a href="{{ url_for('auth.register') }}"
               class="btn btn-primary btn-lg">
                Get Started
            </a>

        </div>

    </div>

</div>

{% endblock %}