{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-4">

<div class="row">

<div class="col-md-3">

<div class="list-group shadow">

<a href="#" class="list-group-item list-group-item-action active">

Dashboard

</a>

<a
href="{{ url_for('upload.upload_log') }}"
class="list-group-item">

Upload Logs

</a>

<a href="#" class="list-group-item">

Threat Alerts

</a>

<a href="#" class="list-group-item">

Reports

</a>

<a href="#" class="list-group-item">

Users

</a>

<a href="{{ url_for('auth.logout') }}"

class="list-group-item text-danger">

Logout

</a>

</div>

</div>

<div class="col-md-9">

<h2>

Welcome,

{{ user.full_name }}

</h2>

<hr>

<div class="row">

<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Total Logs</h5>

<h1>0</h1>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Threats</h5>

<h1>0</h1>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Alerts</h5>

<h1>0</h1>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body text-center">

<h5>Users</h5>

<h1>1</h1>

</div>

</div>

</div>

</div>

<div class="card shadow mt-4">

<div class="card-header">

Recent Activity

</div>

<div class="card-body">

<ul>

<li>System Started</li>

<li>User Logged In</li>

<li>Ready to Upload Logs</li>

</ul>

</div>

</div>

</div>

</div>

</div>

{% endblock %}